@model IEnumerable<PasswordManager.App.Models.ProfileViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Profile/_Layout.cshtml";
}

<h2>User Profiles</h2>

<ul class="profile-list">
    <li>
        <div class="profile-title-bar">
            <button class="profile-title profile-add" onclick="onProfileClick(this, 2)">
                + Add New Profile
            </button>
        </div>
        @Html.Partial("_CreatePartial", new PasswordManager.App.Models.ProfileViewModel())
    </li>

    @foreach (var item in Model)
    {
        <li>
            <div class="profile-title-bar">
                <button class="profile-title profile-view" onclick="onProfileClick(this, 2)">
                    @Html.DisplayFor(m => item.Title)
                </button>
            </div>
            @Html.Partial("_DetailsPartial", item)
            @Html.Partial("_EditPartial", item)
        </li>
    }
</ul>