
:root {
    --banner-width: 256px;
    --accent-color: #008000;
    --accent-background: #00330b;
    --primary-background: #333;
    --secondary-background: #1a1a1a;
    --light-background: #aaa;
    --primary-text: #ccc;
    --secondary-text: #fff;
    --dark-text: #222;
}

body {
    font-family: 'Share Tech', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-size: 18px;
}

h2, h3, h4, h5 {
    font-weight: normal;
}

label,
button,
input {
    font-family: 'Share Tech', sans-serif;
    font-weight: normal;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*#region Category */
.category-bar {
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.category-btn {
    background-color: var(--light-background);
    color: var(--dark-text);
    width: 100%;
    height: 48px;
    border-radius: 5px;
    font-size: 28px;
    border: none;
    text-indent: 12px;
    text-align: left;
}

.category-btn:hover {
    border: solid 4px var(--accent-color) !important;
}

.category-title {
    font-size: 14px;
}

.category-group {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s ease-out;
    list-style-type: none;
    margin-top: 16px;
}
/*#endregion */

/*#region Profiles */
.profile-list {
    width: 720px;
    margin: 0 0 0 50px;
    text-decoration: none;
    list-style-type: none;
}

.profile-title-bar {
    display: flex;
    background-color: var(--secondary-background);
    align-items: center;
    border-radius: 5px;
}

.profile-title {
    width: 100%;
    height: 48px;
    border-radius: 5px;
    font-size: 26px;
    background-color: var(--secondary-background);
    border: none;
    color: var(--primary-text);
    text-indent: 12px;
    text-align: left;
}

.profile-title:hover {
    border: solid 4px var(--accent-color) !important;
}

.profile-bottom {
    max-width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.profile-btn-group {
    max-width: 100%;
    overflow: hidden;
    transition: max-width 0.2s linear;
    margin: 8px 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}

.profile-btn-group p {
    white-space: nowrap;
    overflow: hidden;
    margin: 0 16px 0 0;
    color: var(--secondary-text);
    font-size: 24px;
}

.profile-btn {
    background-color: transparent;
    margin-bottom: 8px;
    border: solid 4px;
    color: var(--primary-text);
    min-width: 100px;
    min-height: 40px;
    font-size: 24px;
}

.profile-btn:hover {
    background-color: var(--primary-text);
    color: var(--primary-background);
}

.profile-detail-group,
.profile-edit-group {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s ease-out;
    width: 90%;
    margin: 6px auto;
    display: grid !important;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    justify-content: center;
}

.profile-details {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 6px; 
    grid-auto-rows: min-content;
    align-items: end;
}

.profile-details h4 {
    text-align: right;
    color: var(--primary-text);
}

.profile-details p {
    text-align: left;
    color: var(--secondary-text);
    font-size: 28px;
    min-height: 28px;
}

.profile-details * {
    margin: 0;
}

.profile-textbox {
    font-family: 'Share Tech', sans-serif;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    font-size: 22px;
    background: var(--primary-text) !important;
    color: var(--dark-text) !important;
}
/*#endregion*/

/* Content */
.content-container {
    margin: 0 auto;
    width: 80vw;
}

/*#region Navbar */
.nav-background,
.nav-background a {
    background-color: var(--primary-background);
    color: var(--primary-text);
}

.navbar {
    background-color: var(--secondary-background);
    color: #ddd;
    border-bottom: solid 4px var(--accent-color);
    height: 48px;
}

.navbar-group {
    width: 80vw;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar-group li {
    list-style-type: none;
    text-decoration: none;
}

.navbar-group a {
    background-color: var(--secondary-background);
    text-decoration: none;
    color: var(--secondary-text);
    padding: 5px 8px;
    border-radius: 5px;
}

.navbar-group a:hover {
    background-color: var(--secondary-text);
    color: var(--secondary-background);
}
/*#endregion */

/*#region Login Banner */
.banner-background {
    background-color: var(--accent-background);
}

.banner {
    color: #eee;
    margin: 25px 0 0 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.banner h1 {
    text-align: center;
    font-size: 64px;
    margin: 0;
}

.banner img {
    margin: 0 auto;
    width: var(--banner-width);
}

.banner-header {
    width: var(--banner-width);
    margin: auto;
    margin-top: 24px;
    text-align: center;
}

.banner-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.banner-form p {
    margin: 0;
}

.form-item-group {
    width: var(--banner-width);
    margin: auto;
    margin-top: 15px;
    padding: 5px;
    display: grid;
}

.form-textbox {
    color: #000;
    border-radius: 5px;
}

.checkbox-group {
    display: inline-block;
    margin-top: 15px;
}

.form-btn {
    background-color: transparent;
    margin-top: 16px;
    border: solid 4px;
    color: var(--primary-text);
    min-width: 128px;
    height: 48px;
    font-size: 24px;
    font-weight: normal;
}

.form-btn:hover {
    background-color: var(--primary-text);
    color: var(--accent-background);
}

.form-link {
    color: var(--primary-text);
    text-decoration: underline;
    margin-top: 20px;
}

.form-link:hover {
    color: var(--secondary-text);
}
/*#endregion */

/*#region Sizing Adjustments */

@media (max-width: 900px) {
    .profile-list {
        width: 95%;
        margin: 0;
    }

    .profile-details {
        grid-template-columns: 1fr;
    }

    .profile-details h4 {
        text-align: left;
    }
}
/*#endregion */

::placeholder {
    font-style: italic;
    color: darkred;
    opacity: 0.6;
}

:disabled {
    opacity: 0.5;
}

:disabled:hover {
    background-color: transparent;
    color: var(--primary-text);
}

:focus {
    outline-color: var(--accent-color);
}