
:root {
    --banner-width: 256px;
    --theme-color: #00330b;
}

body {
    font-family: 'Share Tech', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Profiles Page */
.navbar {
    background-color: var(--theme-color);
    color: #ddd;
    border-bottom: solid 2px #111;
    height: 48px;
}

.navbar-group {
    width: 80vw;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar-group li {
    list-style-type: none;
    text-decoration: none;
}

.navbar-group a {
    text-decoration: none;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
}

.navbar-group a:hover {
    background-color: #fff;
    color: var(--theme-color);
}

/* Login Banner */
.banner {
    background-color: var(--theme-color);
    color: #eee;
    width: 80%;
    height: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
}

.banner h1 {
    text-align: center;
    font-size: 64px;
}

.banner img {
    margin: 0 auto;
    width: var(--banner-width);
}

.banner-header {
    width: var(--banner-width);
    margin: auto;
    margin-top: 24px;
    text-align: center;
}

.banner-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.form-item-group {
    width: var(--banner-width);
    margin: auto;
    margin-top: 15px;
    padding: 5px;
    display: grid;
}

.form-label {
    
}

.form-textbox {
    color: #000;
    border-radius: 5px;
}

.form-message {
    
}

.checkbox-group {
    display: inline-block;
    margin-top: 15px;
}

.form-btn {
    background-color: transparent;
    margin-top: 16px;
    border: solid 4px;
    color: #ddd;
    width: 128px;
    height: 48px;
    font-size: 24px;
    font-weight: bold;
}

.form-btn:hover {
    background-color: #ddd;
    color: var(--theme-color);
}

.form-link {
    color: #ccc;
    text-decoration: underline;
    margin-top: 20px;
}

.form-link:hover {
    color: #fff;
}